/* Custom color theme properties */
:root {
  --f7-theme-color: #007bc1;
  --f7-theme-color-rgb: 0, 123, 193;
  --f7-theme-color-shade: #006198;
  --f7-theme-color-tint: #0095ea;

  --f7-page-bg-color: #efeff4;
}

/* Your app custom styles here */

.list-index {
  position: fixed;
}

.list ul ul {
  padding-left: 8px;
}

.units-list {
  margin-top: 0;
  margin-bottom: 0;
}

.employee-popup .list .item-title {
  white-space: normal;
}

.popover {
  width: 90%;
}

.popover .block {
  margin-top: 16px;
  margin-bottom: 16px;
}

.page-content .searchbar:not(.searchbar-inline) input[type=search] {
  border-radius: 8px;
}
.page-content .searchbar-units:not(.searchbar-inline) input[type=search] {
  border-radius: 8px;
}
